*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(0, 0%, 90%);
}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    min-height: 100vh;
    margin: 50px;
    border-radius: 15px;
}
.left{
    grid-column: 1/9;
}
.right{
    grid-column: 9/-1;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}
.l-top{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}
.dan-card{
    grid-column: 1/8;
    background-color:hsl(263, 55%, 52%);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 80px top;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 40px;
}
.bio-image img{
   height: 50px;
   width: 50px;
   border-radius: 50%;
   border: 2px solid white;
   padding: 2px;
}
.bio-flex{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left:10px ;
}
.bio-details h4{
color: hsl(0, 0%, 100%);
font-family: "Barlow Semi Condensed";
font-weight: 500;
padding-bottom: 4px;
}
.bio-details p{
    opacity: 50%;
    font-family: "Barlow Semi Condensed";
    color:hsl(0, 0%, 100%); 
}
.first-p{
    font-size: 20px;
    font-family: "Barlow Semi Condensed";
    font-weight: 600;
    color:hsl(0, 0%, 100%); 
    padding: 20px;
}
.second-p{
    opacity: 70%;
    font-family: "Barlow Semi Condensed";
    color:hsl(0, 0%, 100%);
    padding: 10px;
}
span.p{
    font-family: "Barlow Semi Condensed";
    color:hsl(219, 29%, 14%); 
}
span.h4{
    font-family: "Barlow Semi Condensed";
    color:hsl(219, 29%, 14%); 
}
span.s-p{
    opacity: 70%;
    font-family: "Barlow Semi Condensed";
    color:hsl(217, 19%, 35%);;
    font-size: 20px;
}

.jona-card{
    grid-column: 8/-1;
    background-color:hsl(217, 19%, 35%);
    border-radius: 15px;
    margin-bottom: 40px;
    padding: 40px;
}
.l-bottom{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
}
.jean-card{
    grid-column: 1/4;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 40px;
}
.pat-card{
    grid-column: 4/-1;
    background-color: hsl(219, 29%, 14%);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 40px;
}
.kira-card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 40px;
}
@media screen and (max-width:425px){
    .container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .l-top{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .l-bottom{
        grid-template-columns: 1fr;
        gap: 0;
    }
}
@media screen and (max-width:768px) {
    .container{
        grid-template-columns: 1fr;
        gap: 0;
    }
}